body{
    margin: 0px;
    text-align: center;
}

.header{
    background-image: url(AdobeStock_496188972_Preview.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    height: 500px;
    border: 0px;
}

#link-trybe{
    color: #036b52;
    font-size: 112%;
}

#web-developer{
    font-weight: 900;
}

#city{
    text-decoration: none;
}

#passion{
    font-weight: bold;
}

#picture-gabriel{
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skills-content{
    position: center;
    width: 20%;
    margin: auto;
}

.links-internal a {
    margin: 5px;
    display: inline-block;
}